/*
 * ClipIt specific CSS
 */

.transparent{
    opacity: 0.7;
}

.elgg-login-logo{
    text-align: center;
    margin: 50px 0;
}

.elgg-heading-logo{
    float:left;
    margin: 10px 0 0 40px;
    cursor: pointer;
}

.elgg-heading-logo:hover{
    
}

.input-jxl-login{
    width: 70%;
}

.row-jxl-login{
    margin-right: auto;
}

.btn-jxl-login{
    float: none;
    margin: 4px 0;
}

.file-comments form.elgg-form-comments-add{
    display:none;
}
/****************************************
    ClipIt ICONS
*************************************** */
.clipit-icon{
    background: transparent url(../graphics/clipit_icons_sprite.gif) no-repeat left;
    width: 16px;
    height: 16px;
    margin: 0 2px;
    position: relative;
    display: inline-block;
}
.clipit-icon-edit{
     background-position: 0 -19px;
}
.clipit-icon-edit:hover{
     background-position: 0 -3px;
}