[submodule "mod/clipit_api/libraries/juxtalearn-cookie-authentication"]
	path = mod/clipit_api/libraries/juxtalearn-cookie-authentication
	url = https://github.com/juxtalearn/juxtalearn-cookie-authentication.git
[submodule "mod\\z02_clipit_api\\libraries\\juxtalearn-cookie-authentication"]
	path = mod\\z02_clipit_api\\libraries\\juxtalearn-cookie-authentication
	url = https://github.com/juxtalearn/juxtalearn-cookie-authentication.git
