
.label.label-primary.la_stumblingblock {
    display: inline-block;
    font-size:large;
    margin: 0.1em;
    cursor:pointer;
}


.label.label-primary.la_stumblingblock.green, .label.label-primary.la_stumblingblock.green a {
    border-color: green;
    color: green;
    text-decoration: none;
}
.label.label-primary.la_stumblingblock.green:hover,.label.label-primary.la_stumblingblock.green a:hover {
    border-color: green;
    background-color: green !important;
    color:white;
    opacity: 1;
    text-decoration: none;
}
.label.label-primary.la_stumblingblock.yellow, .label.label-primary.la_stumblingblock.yellow a {
    border-color: #E4CF50;
    color: #E4CF50;
    text-decoration: none;
}

.label.label-primary.la_stumblingblock.yellow:hover, .label.label-primary.la_stumblingblock.yellow a:hover {
    border-color: #E4CF50;
    background-color: #E4CF50 !important;
    color:white;
    opacity:1.0;
    text-decoration: none;
}
.label.label-primary.la_stumblingblock.red, .label.label-primary.la_stumblingblock.red a {
    border-color: #FF704D;
    color: #FF704D;
    text-decoration: none;
}
.label.label-primary.la_stumblingblock.red:hover,.label.label-primary.la_stumblingblock.red a:hover  {
    border-color:  #FF704D;;
    background-color:  #FF704D !important;
    color:white;
    opacity:1.0;
    text-decoration: none;
}

.learning_analytics_dashboard .elgg-widgets-add-panel {
    background: none repeat scroll 0 0 #ddd;
    border: 2px solid #ccc;
    margin: 0 5px 15px;
    padding: 10px;
}
.learning_analytics_dashboard .elgg-widgets-add-panel.hidden {
    visibility: visible;
}

/* ***************************************
	WIDGETS
*************************************** */
.learning_analytics_dashboard .elgg-widgets {
    float: right;
    min-height: 30px;

}
.learning_analytics_dashboard .elgg-widget-add-control {
    text-align: right;
    margin: 5px 5px 15px;
}
.learning_analytics_dashboard .elgg-widgets-add-panel {
    padding: 10px;
    margin: 0 5px 15px;
    background: #eee;
    border: 1px solid #ccc;
}
.learning_analytics_dashboard .elgg-widgets-add-panel ul {
    padding: 0;
    margin: 0;
}
.learning_analytics_dashboard .elgg-widgets-add-panel li {
    float: left;
    margin: 2px 10px;
    list-style: none;
    width: 200px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-weight: bold;
}
.learning_analytics_dashboard .elgg-widgets-add-panel li a {
    display: block;
}
.learning_analytics_dashboard .elgg-widget-single.elgg-state-available {
    color: #32b4e5;
    cursor: pointer;
}
.learning_analytics_dashboard .elgg-widget-single.elgg-state-available:hover {
    border-color: #aaa;
}
.learning_analytics_dashboard .elgg-widget-single.elgg-state-unavailable {
    color: #bae6f6;
}

.learning_analytics_dashboard .elgg-widget-multiple.elgg-state-available {
    color: #32b4e5;
    cursor: pointer;
}
.learning_analytics_dashboard .elgg-widget-multiple.elgg-state-available:hover {
    border-color: #aaa;
}
.learning_analytics_dashboard .elgg-widget-multiple.elgg-state-unavailable {
    color: #bae6f6;
}


.learning_analytics_dashboard .elgg-module-widget {
    background-color: #dedede;
    padding: 1px;
    margin: 0 5px 15px;
    position: relative;
}
.learning_analytics_dashboard .elgg-module-widget:hover {
    background-color: #ccc;
}
.learning_analytics_dashboard .elgg-module-widget > .elgg-head {
    background-color: #f5f5f5;
    height: 26px;
    overflow: hidden;
}
.learning_analytics_dashboard .elgg-module-widget.elgg-state-draggable .elgg-widget-handle {
    cursor: move;
}
.learning_analytics_dashboard .elgg-module-widget > .elgg-head h3 {
    float: left;
//padding: 1px 45px 0 20px;
    color: #32b4e5;
}

.learning_analytics_dashboard .elgg-widget-collapse-button {
    color: #c5c5c5;
    text-decoration: none;
}
.learning_analytics_dashboard a.elgg-widget-collapse-button:hover,
.learning_analytics_dashboard a.elgg-widget-collapsed:hover {
    color: #9d9d9d;
    text-decoration: none;
}
.learning_analytics_dashboard a.elgg-widget-collapse-button:before {
    content: "\f068";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color:#32b4e5;
    /*position:absolute;*/
    /*top:1.3ex;*/
    /*right:0.5em;*/
}
.learning_analytics_dashboard a.elgg-widget-collapsed:before {
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color:#32b4e5;
}
.learning_analytics_dashboard .elgg-module-widget > .elgg-body {
    border-top: 1px solid #dedede;
    background-color: white;
    width: 100%;
    overflow: hidden;
}
.learning_analytics_dashboard .elgg-widget-edit {
    display: none;
    width: 96%;
    padding: 2%;
    border-bottom: 1px solid #dedede;
}

.learning_analytics_dashboard ul.elgg-menu-widget li {
    display:inline-block;
    margin-left: 10px;
}

.learning_analytics_dashboard a.elgg-widget-edit-button:before {
    content:"\f040";
    box-sizing:content-box;
    /*position:absolute;*/
    /*top:1.3ex;*/
    /*right:3.5em;*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.learning_analytics_dashboard a.elgg-widget-delete-button:before {
    content:"\f014";
    box-sizing:content-box;
    /*position:absolute;*/
    /*top:1.3ex;*/
    /*right:2.0em;*/
    font-weight: bold;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.learning_analytics_dashboard a.elgg-widget-resize-button:before {
    content:"\f08e";/*"\f065";*/
    box-sizing:content-box;
    /*position:absolute;*/
    /*top:1.3ex;*/
    /*right:5em;*/
    font-weight: bold;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.learning_analytics_dashboard .elgg-widget-content {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
}
.learning_analytics_dashboard .elgg-widget-placeholder {
    border: 2px dashed #dedede;
    margin-bottom: 15px;
}


.learning_analytics_dashboard .elgg-module-widget {
    overflow: hidden;
    background: #FFF;
    border-radius: 4px 4px 0 0;
    margin: 20px 0;
}
.learning_analytics_dashboard .elgg-module-widget .elgg-head {
    padding: 5px;
    color: #32b4e5;
}
.learning_analytics_dashboard .elgg-module-widget .elgg-head .widget-viewall {
    float: right !important;
    text-transform: uppercase;
    color: #32b4e5;
    font-size: 12px;
    border-right: 1px solid #bae6f6;
    padding-right: 5px;
    margin-right: 8px;
}
.learning_analytics_dashboard .elgg-module-widget .elgg-head .collapse {
    float: right !important;
}
.learning_analytics_dashboard .elgg-module-widget .elgg-head h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    overflow: hidden;
    font-weight: bold;
    font-size: 15px;
    vertical-align: top;
}
.learning_analytics_dashboard .elgg-module-widget .separator {
    border-top: 1px solid #bae6f6;
}
.learning_analytics_dashboard .elgg-module-widget .wrapper {
    padding: 10px;
}
.learning_analytics_dashboard .elgg-module-widget ul.wrapper-list {
    margin: 0;
}
.learning_analytics_dashboard .elgg-module-widget ul.wrapper-list > li {
    margin: 0;
    padding: 10px;
}





.learning_analytics_dashboard .elgg-widgets-add-panel {
    background: none repeat scroll 0 0 #ddd;
    border: 2px solid #ccc;
    margin: 0 5px 15px;
    padding: 10px;
}
.learning_analytics_dashboard .elgg-widgets-add-panel.hidden {
    visibility: visible;
}

/* ***************************************
	WIDGETS
*************************************** */
.learning_analytics_dashboard .elgg-widgets {
    float: right;
    min-height: 30px;
}
.learning_analytics_dashboard .elgg-widget-add-control {
    text-align: right;
    margin: 5px 5px 15px;
}
.learning_analytics_dashboard .elgg-widgets-add-panel {
    padding: 10px;
    margin: 0 5px 15px;
    background: #eee;
    border: 1px solid #ccc;
}
.learning_analytics_dashboard .elgg-widgets-add-panel ul {
    padding: 0;
    margin: 0;
}
.learning_analytics_dashboard .elgg-widgets-add-panel li {
    float: left;
    margin: 2px 10px;
    list-style: none;
    width: 200px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-weight: bold;
}
.learning_analytics_dashboard .elgg-widgets-add-panel li a {
    display: block;
}
.learning_analytics_dashboard .elgg-widget-single.elgg-state-available {
    color: #32b4e5;
    cursor: pointer;
}
.learning_analytics_dashboard .elgg-widget-single.elgg-state-available:hover {
    border-color: #aaa;
}
.learning_analytics_dashboard .elgg-widget-single.elgg-state-unavailable {
    color: #bae6f6;
}

.learning_analytics_dashboard .elgg-widget-multiple.elgg-state-available {
    color: #32b4e5;
    cursor: pointer;
}
.learning_analytics_dashboard .elgg-widget-multiple.elgg-state-available:hover {
    border-color: #aaa;
}
.learning_analytics_dashboard .elgg-widget-multiple.elgg-state-unavailable {
    color: #bae6f6;
}